<!DOCTYPE html>
<html>
  <head>
    <title>Street select example</title>
    <meta charset="UTF-8">
    <link href="../dist/vendor.css" rel="stylesheet"/>
    <link href="../straus_street-select.css" rel="stylesheet"/>
  </head>
  <body ng-app="straus-street-select-example">
    <h1>Demo form</h1>
    <!--<div cg-busy="{promise:courier_request_promise.$promise, message:'Сохранение'}"></div>-->

    <form  class="form-horizontal col-xs-12" role="form" novalidate ng-init="selectedStreet='Street1'">
      <div class="form-group">
        <label class="control-label col-xs-2">SELECTED STREET</label>
        <div class="col-xs-7">
          <p  class="form-control-static">{{selectedStreet}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="before" class="control-label col-xs-2">Field after</label>
        <div class="col-xs-7">
          <input class="form-control"  id="before" type="text"/>
        </div>
      </div>
      <div class="form-group">
        <label for="street-select-field" class="control-label col-xs-2">Select street</label>
        <div class="col-xs-7">
          <straus-street-select ng-model="selectedStreet" id="street-select-field"></straus-street-select>
        </div>
      </div>
      <div class="form-group">
        <label for="after" class="control-label col-xs-2">Field after</label>
        <div class="col-xs-7">
          <input class="form-control" id="after" type="text"/>
        </div>
      </div>
    </form>



    <script src="../dist/vendor.js"></script>
    <script src="example.js"></script>
  </body>
</html>